{% extends 'costumerBase.html' %}

{% block title %}
    جست و جو در آگهی ها
{% endblock %}



{% block content %}
    <br>
      <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="auction">
                            <form class="well form-horizontal" style="direction: rtl;" action="" method="post"
                                  id="auction_form">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b>جست و جوی آگهی ها</b></h2></center>
                                    </legend>
                                    <br>

                                    <div class="form-group">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="title" placeholder="عنوان" class="form-control"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="desc" placeholder="توضیحات"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="min_price" id="min_price" placeholder="کمینه قیمت"
                                                       class="form-control" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="max_price" id="max_price" placeholder="بیشینه قیمت"
                                                       class="form-control" type="number">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="submit" id="search-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="جست و جو"
                                                       placeholder="جست و جو">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}