{% extends 'costumerBase.html' %}

{% block title %}
    ایجاد و ثبت مزایده
{% endblock %}



{% block content %}
    <br>
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="auction">
                            <form class="well form-horizontal" style="direction: rtl;" action="" method="post"
                                  id="auction_form">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b>ایجاد مزایده</b></h2></center>
                                    </legend>
                                    <br>

                                    <div class="form-group  {% if form.deadline.errors and type == 'auction' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="deadline" placeholder="مدت فعال بودن" class="form-control"
                                                       type="date">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.deadline.errors and type == 'auction' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.deadline.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group  {% if form.base_price.errors and type == 'auction' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="base_price" placeholder="قیمت پایه"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.base_price.errors and type == 'auction' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.base_price.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="submit" id="auction-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="ثبت"
                                                       placeholder="ثبت">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}