<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
    <style>
         @font-face {
             font-family: 'brandon';
             src: url("{% static "fonts/BRoya.ttf"%}") format('truetype');
             font-style: normal;
             font-weight: normal;
         }
         body{
             margin: 0;
         }
        .container{
            margin: 0;
            padding:0;
            width:100%;
        }
        #footer {
            font-family: brandon;
            text-align: center;
            width: 100%;
            position: absolute;
            height: 150px;
            background-color: #00293E;
            color: white;
            margin-top: 50px;
        }

        .foot{
           font-size: 16px;
        }
         .text-danger{
             color: red;
             direction: rtl;

         }

         input, select {
             width: 250px;
             height: 35px;
             border-radius: 3px;
             font-family: brandon;
             font-size: 18px;
             text-align: right;
         }

         #id_text {
            font-family: brandon;
            font-size: 18px;
            text-align: right;
             width: 400px;
             height: 150px;
         }

         .address{
         width: 250px;
         position: absolute;
         top: 6%;
         right: 2%;
         font-size: 18px;
         font-family: brandon;
         color: white;
         text-align: right;
         }

         .logo{
         position: absolute;
         top: 20%;
         left: 5%;
         max-width: 100px;
         }

         .highlighted {
             background-color: rgba(0, 0, 0, .4);
             text-align: center;
         }
            /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}



    </style>
    {% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

    <script type="text/javascript">{% block script %}{% endblock %}</script>
</head>

    <body>

<header class="navbar-fixed">
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand" style="color: white">سامانه‌ی در</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav" >
                <li><a href="{% url 'login' %}" style="color: white">ورود</a></li>
                <li><a href="{% url 'register' %}" style="color: white" >ثبت نام</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}" style="color: white">تماس با ما</a></li>
                <li><a href="{% url 'home' %}" style="color: white">راهنما</a></li>
                <li><a href="{% url 'home' %}" style="color: white">معرفی برنامه</a></li>
                <li><a href="{% url 'all_ads' %}"  style="color: white">مشاهده آگهی‌ها</a></li>
                <li><a href="{% url 'home' %}"  style="color: white">صفحه اصلی</a></li>
            </ul>
        </div>
    </div>
</nav>

</header>


   {% block content %}
    {% endblock %}
<!--<div class="alert alert-success col-md-12" role="alert" id="success_message">پیام با موفقیت ارسال شد. <i class="glyphicon glyphicon-thumbs-up"></i> متشکریم .</div>-->




    </body>

  <div id="footer" class="col-xs-12">
      <div class="address">
          <p>نشانی: تهران، خیابان آزادی، دانشگاه شریف، دانشکده مهندسی کامپیوتر</p>
          <p>تلفن تماس: 02166161234</p>
    </div>

      <p class="footer-block">طراحی و اجرا: شرکت نرم افزاری آسا</p>
      <p class="foot">کلیه حقوق محفوظ و متعلق به آسا می باشد</p>
      <div><img class="logo" src="../../../static/images/LOGO.png"></div>
  </div>
</html>

