{% extends 'costumerBase.html' %}

{% block title %}
   پیشنهادات برای مزایده
{% endblock %}



{% block content %}

<div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="signup">
                            <form class="well form-horizontal" style="direction: rtl" action="" method="post"
                                  id="signup_form">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b> ارسال پیشنهاد</b></h2></center>
                                    </legend>
                                    <br>

                                    <div class="form-group  {% if form.value.errors %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                           class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i></span>
                                                <input name="value" placeholder="مقدار"
                                                          class="form-control" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.value.errors %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.value.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="ارسال پیشنهاد"
                                                       placeholder="ارسال پیشنهاد"
                                                       style="width: auto; left: 50%; position: inherit; background-color: #3f001f; color: white; font-family: 'B Nazanin'; font-size: 20px; border-radius: 5px;">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>

                <div class="main">
    <h5>پیشنهادات ثبت شده برای این مزایده</h5>
                    <div id="printableArea">
    <table>
        <tr>
            <th>مبلغ</th>
            <th>تاریخ</th>
            <th>پیشنهاد دهنده</th>
        </tr>
        {% for bid in bids %}
            {% ifequal bid.value max_bid %}
                <tr style=" font-weight: bold; color: crimson; ">
                <td style=" font-weight: bold; color: crimson; ">{{ bid.value }}</td>
                <td style=" font-weight: bold; color: crimson; ">{{ bid.date|date:"Y / m / d" }}</td>
                <td style=" font-weight: bold; color: crimson; ">{{ bid.bidder.profile.user.username }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ bid.value }}</td>
                <td>{{ bid.date|date:"Y / m / d" }}</td>
                <td>{{ bid.bidder.profile.user.username }}</td>
            </tr>
            {% endifequal %}
        {% endfor %}




    </table>
    </div>
            </div>
        </div>
    </div>

{% endblock %}