{% extends 'costumerBase.html' %}

{% block title %}
    ثبت شکایت
{% endblock %}



{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="signup">
                            <form class="well form-horizontal" style="direction: rtl" action="" method="post"
                                  id="signup_form">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b> ثبت شکایت</b></h2></center>
                                    </legend>
                                    <br>

                                    <div class="form-group  {% if form.text.errors %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                           class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i></span>
                                                <textarea name="text" placeholder="متن"
                                                          class="form-control" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.text.errors %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.text.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="ارسال شکایت"
                                                       placeholder="ارسال شکایت"
                                                       style="width: auto; left: 50%; position: inherit; background-color: #3f001f; color: white; font-family: 'B Nazanin'; font-size: 20px; border-radius: 5px;">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}