<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
    <style>
        @font-face {
            font-family: 'brandon';
            src: url("{% static "fonts/BRoya.ttf"%}") format('truetype');
            font-style: normal;
            font-weight: normal;
        }

        body {
            margin: 0;
        }

        .container {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #footer {
            font-family: brandon;
            text-align: center;
            width: 100%;
            position: absolute;
            height: 150px;
            background-color: #00293E;
            color: white;
            margin-top: 50px;
        }

        .foot {
            font-size: 16px;
        }

        .text-danger {
            color: red;
            direction: rtl;

        }

        input, select {
            width: 250px;
            height: 35px;
            border-radius: 3px;
            font-family: brandon;
            font-size: 18px;
            text-align: right;
        }

        #id_text {
            font-family: brandon;
            font-size: 18px;
            text-align: right;
            width: 400px;
            height: 150px;
        }

        .address {
            width: 250px;
            position: absolute;
            top: 6%;
            right: 2%;
            font-size: 18px;
            font-family: brandon;
            color: white;
            text-align: right;
        }

        .logo {
            position: absolute;
            top: 20%;
            left: 5%;
            max-width: 100px;
        }

        .highlighted {
            background-color: rgba(0, 0, 0, .4);
            text-align: center;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }


    </style>
{% block bootstrap %} {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

    <script type="text/javascript">{% block script %}{% endblock %}</script>
</head>
<body>
<div class="container">

    <img class="cover" src="../../../static/images/test.jpg">
    <div class="topright"><img class="img-circle" src="../../../static/images/user_profile_female.jpg">
        <p class="highlighted"> {{ user.get_full_name }}</p></div>
    <div class="topleft" style="display:grid; z-index:5">

        <a href="/logout/">خروج</a>

        <a style="margin-top: 25px" href="/customer/charge_account/">افزایش اعتبار</a>
        <p>97/11/28</p>

    </div>

</div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">صفحه اصلی</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:home' %}">صفحه اصلی</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:edit_profile' %}">اطلاعات حساب</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ثبت آگهی</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:publish_ad_form' %}">ایجاد آگهی جدید</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">جست‌وجو</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:customer_search' %}">جست‌وجوی ساده</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">آگهی‌های من</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:my_adv' %}">تمام آگهی‌ها</a>
                <a href="">آگهی‌های فروخته شده</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارش مالی حساب</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:credits' %}">وضعیت موجودی حساب</a>
                <a href="{% url 'customer:transaction_history' %}">تراکنش‌های بانکی انجام شده</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">صندوق پیام</a>
            <div class="dropdown-content">
                <a href="{% url 'customer:new_notification' %}">پیام‌های جدید</a>
                <a href="{% url 'customer:all_notification' %}">تمامی پیام‌های من</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ثبت شکایت</a>
            <div class="dropdown-content">
                <a href="{% url 'complaint' %}">ثبت شکایت درباره خرید</a>
            </div>
        </li>

    </ul>
</div>


<div style="margin-top: 30px">
    <p>{{ log }}</p>
    {% block content %}
    {% endblock %}
    {% block content2 %}
    {% endblock %}
</div>


<div id="footer">
    <div class="address">
        <p>نشانی: تهران، خیابان آزادی، دانشگاه شریف، دانشکده مهندسی کامپیوتر</p>
        <p>تلفن تماس: 02166161234</p>
    </div>

    <p class="footer-block">طراحی و اجرا: شرکت نرم افزاری آسا</p>
    <p class="foot">کلیه حقوق محفوظ و متعلق به آسا می باشد</p>
    <div><img class="logo" src="../../../static/images/LOGO.png"></div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
</body>
</html>