{% extends 'costumerBase.html' %}

{% block title %}
    سامانه در
{% endblock %}



{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h1 class="text-right" id="bonyad">سامانه خرید و فروش در</h1>
                        <p class="text-right" id="mashi">در از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند در توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در  تمامی مراجع قانونی ثبت شده است.

نیازمندی‌های ریز و درشت شما روی در
                            در در به آسانی می‌توانید نیازمندی‌هایتان را بر اساس محله دسته‌بندی کنید و نزدیک‌ترین‌ها را بیابید.</p>
         <br>
                            <h2 class="text-right"> :خرید و فروش بی‌واسطه</h2>
                         <p class="text-right" id="mashi">
در در کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما در هیچ دخالتی ندارد و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند.</p>

                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}