{% extends 'costumerBase.html' %}

{% block title %}موجودی حساب{% endblock %}


{% block content %}

    <div class="main">

        <div>
        <div class="row">
            <div class="col-md-4" style="font-size: xx-large;" dir="rtl">موجودی خالص:   {{ credit }}</div>
            <div class="col-md-4" style="font-size: xx-large">رزرو شده: {{ reserved }}</div>
        </div>
        {% if reserve_objects %}

           <center style="font-size: xx-large; margin-top: 2%" dir="rtl">لیست مبالغ رزرو شده</center>
            <table>
                <tr style="font-size: x-large">
                    <th>عنوان کالا</th>
                    <th>مبلغ</th>
                    <th>شماره</th>
                </tr>
                {% for rs in reserve_objects %}
                    <tr class="row" style="font-size: 22px">
                        <td class="col-md-6">{{ rs.advertise.title }}</td>
                        <td class="col-md-5">{{ rs.value }}</td>
                        <td class="col-md-1">
                            {{ forloop.counter }}
                        </td>
                    </tr>
                {% endfor %}


            </table>
        {% endif %}
        </div>

    </div>

{% endblock %}
