{% extends 'costumerBase.html' %}

{% block title %}
  نتیجه جست و جو
{% endblock %}



{% block content %}
    <br>
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto; font-family: Tahoma; font-size: large; font-weight: bold;">
                    <div class="pull-right" style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                       <center> <span class="pull-right">.جست و جوی شما نتیجه ای به دنبال نداشت</span></center>

                </div>
            </div>
        </div>
    </div>

{% endblock %}