{% extends 'costumerBase.html' %}

{% block title %}
   پیشنهادات برای مزایده
{% endblock %}



{% block content %}

<div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        مزایده مورد نظر شما به پایان رسیده است. این محصول به قیمت
                                        {{ max_bid }}
                                        واگذار شده است.
                    </div>

                <div class="main">
    <h5>پیشنهادات ثبت شده برای این مزایده</h5>
                    <div id="printableArea">
    <table>
        <tr>
            <th>مبلغ</th>
            <th>تاریخ</th>
            <th>پیشنهاد دهنده</th>
        </tr>
        {% for bid in bids %}
            {% ifequal bid.value max_bid %}
                <tr style=" font-weight: bold; color: crimson; ">
                <td style=" font-weight: bold; color: crimson; ">{{ bid.value }}</td>
                <td style=" font-weight: bold; color: crimson; ">{{ bid.date|date:"Y / m / d" }}</td>
                <td style=" font-weight: bold; color: crimson; ">{{ bid.bidder.profile.user.username }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ bid.value }}</td>
                <td>{{ bid.date|date:"Y / m / d" }}</td>
                <td>{{ bid.bidder.profile.user.username }}</td>
            </tr>
            {% endifequal %}
        {% endfor %}




    </table>
    </div>
            </div>
        </div>
    </div>
        </div>
</div>

{% endblock %}