{% extends 'costumerBase.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="main">

        <div id="printableArea">
            <table>
                <tr style="font-size: x-large">
                    <th>متن‌ پیام</th>
                    <th>تاریخ ثبت</th>
                    <th>شماره</th>
                </tr>
                {% for notif in notifs %}
                    <tr class="row" style="font-size: 22px">
                        <td class="col-md-8" style="width: 60%;">{{ notif.message }}</td>
                        <td class="col-md-3">{{ notif.time|date:"Y/m/d -- H:i" }}</td>
                        <td class="col-md-1">
                            {{ forloop.counter }}
                        </td>
                    </tr>
                {% endfor %}


            </table>
        </div>

    </div>

{% endblock %}
