{% extends 'costumerBase.html' %}

{% block title %}
    سامانه در
{% endblock %}



{% block content %}
    {% load staticfiles %}
    <script>
        function change() {
            var cat1_select_choice = document.getElementById("category1");
            var cat2_select_choice = document.getElementById("cat2");
            var cat2_choices = document.getElementById("category2");
            var cat3_select_choice = document.getElementById("cat3");
            var selected_choice_1 = cat1_select_choice.options[cat1_select_choice.selectedIndex].value;
            var new_cat = document.getElementById("newCat");
            if (selected_choice_1 === 'others') {
                new_cat.style.display = "";
                cat2_select_choice.style.display = "none";
                cat3_select_choice.style.display = "none";
            }
            else {
                new_cat.style.display = "none";
                cat2_select_choice.style.display = "";
            }

        };

        function change2() {
            document.getElementById("cat3").style.display = "";

        };
    </script>
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <div class="main">
                            <h5>انتشار آگهی جدید</h5>
                            <form id="post_form" action="" method="post" enctype="multipart/form-data"
                                  style="direction: rtl;">
                                {% csrf_token %}
                                <table class="tbl" border="0" align="center">
                                    <tbody>

                                    <tr>
                                        <td><label for="address">آدرس </label></td>

                                        <td><textarea name="address" id="address" cols="35" rows="3"
                                                      style="height: 100%; width: 100%;">{{ address }}</textarea>
                                            <input name="location" type="submit" class="btn"
                                                   style="background-color:#F62A00 " value="نمایش">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="lnglat">موقعیت مکانی </label></td>

                                        <td>
                                            <textarea name="lnglat" id="lnglat" cols="0" rows="0"
                                                      style=" display:none;"></textarea>
                                            <div id="map" style="clear:both; height:300px;"></div>
                                        </td>

                                    </tr>


                                    <tr>
                                        <td><label for="title">عنوان</label></td>
                                        <td><input type="text" name="title" id="title"></td>

                                    </tr>

                                    <tr>
                                        <td><label for="category1">دسته </label></td>
                                        <td><select id="category1" required name="category" onchange="change();">
                                            <option disabled selected style="color: black;">---------</option>
                                            {% for cat in cats1 %}
                                                <optgroup label="{{ cat.name }}">
                                                {% for cat2 in cat.cat_lev1.all %}
                                                    <option value={{ cat2.pk }} disabled>{{ cat2.name }}</option>
                                                    {% for cat3 in cat2.cat_lev2.all %}
                                                        <option value={{ cat3.pk }}>&nbsp;&nbsp;&nbsp;{{ cat3.name }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                            <option value="others" id="others">سایر</option>
                                        </select></td>
                                    </tr>

                                    <tr id="newCat" style="display:none">
                                        <td><label for="newCategory"></label></td>
                                        <td><input placeholder="لطفا دسته‌ی پیشنهادی خود را وارد فرمایید" type="text"
                                                   name="newCategory" id="newCategory"></td>
                                    </tr>


                                    <tr>
                                        <td><label for="desc">توضیحات </label></td>

                                        <td><textarea name="desc" id="desc" cols="28" rows="7"></textarea></td>
                                    </tr>


                                    <tr id="cost_tag">
                                        <td><label for="price">قیمت </label></td>

                                        <td><input type="number" name="price" id="price"></td>
                                    </tr>

                                    <tr>
                                        {{ formset.management_form }}
                                        {% for form in formset %}
                                            {{ form }}
                                        {% endfor %}
                                    </tr>


                                    </tbody>
                                </table>
                                <input name="add" type="submit" class="btn" style="background-color:#F62A00 "
                                       value="ثبت">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content2 %}
    <!--The div element for the map -->
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: {{ lat }}, lng: {{ lng }}};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map, draggable: true});
            document.getElementById('lnglat').innerHTML = {{ lat }} +':' + {{ lng }};

            google.maps.event.addListener(marker, 'dragend', function (evt) {
                document.getElementById('lnglat').innerHTML = evt.latLng.lat() + ':' + evt.latLng.lng();
            });

        }

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo2SX0XE2l1jo6DMcpAvCyNH-91ocNT5E&callback=initMap">
    </script>

{% endblock %}