{% extends 'costumerBase.html' %}

{% block title %}
    نتایج جست و جو
{% endblock %}



{% block content %}


    <div id="printableArea">
    <table>
        <tr>
            <th>مشاهده</th>
            <th>وضعیت</th>
            <th>قیمت</th>
            <th>تاریخ ثبت</th>
            <th>عنوان</th>
            <th>شماره</th>
        </tr>
        {% for ad in ads %}
            <tr>
                <td><a href="{% url 'customer:view_ad' ad.pk %}" ><img src="../../../static/images/view.png" title="مشاهده" class="linkImg1"></a></td>
                <td>{{ ad.status }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.published_date|date:"Y / m / d" }}</td>
                <td>{{ ad.title }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}




    </table>

{% endblock %}