{% extends 'costumerBase.html' %}

{% block title %}تراکنش ثبت شده توسط من{% endblock %}

{% block script %}
    function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
    }
    function save(filename, divName) {
    var el = document.createElement('a');
    el.setAttribute('href', 'data:text/html;charset=utf-8,' +
    encodeURIComponent(document.getElementById(divName).innerHTML));
    el.setAttribute('download', filename);
    el.style.display = 'none';
    document.body.appendChild(el);
    el.click();
    document.body.removeChild(el);
    }
{% endblock %}

{% block content %}

    <div class="main">

        <div id="printableArea">
            <table>
                <tr style="font-size: x-large">
                    <th>وضعیت</th>
                    <th>قیمت</th>
                    <th>تاریخ ثبت</th>
                    <th>شماره</th>
                </tr>
                {% for tr in transactions %}
                    <tr class="row" style="font-size: 22px">
                        <td class="col-md-4">{{ tr.show_status }}</td>
                        <td class="col-md-3">{{ tr.value }}</td>
                        <td class="col-md-4">{{ tr.time|date:"Y/m/d -- H:i" }}</td>
                        <td class="col-md-1">
                            {{ forloop.counter }}
                        </td>
                    </tr>
                {% endfor %}


            </table>
        </div>


        <a href="javascript:void(0)" onclick="printDiv('printableArea')" class="btn"><img
                src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
        <a href="javascript:void(0)" onclick="save('reservesCheck.html', 'printableArea')" class="btn"><img
                src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

    </div>

{% endblock %}
