{% extends 'costumerBase.html' %}

{% block title %}
    ثبت پیشنهاد ناموفق
{% endblock %}



{% block content %}
    <br>
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div class='pull-right' style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; font-family: 'B Nazanin+ Regular'">
                    {{ log }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}