{% extends 'Base.html' %}

{% block title %}
    ثبت نام در سایت
{% endblock %}



{% block content %}
    <div class="main">

    <form action="" method="post" style="direction: rtl;">
    {% csrf_token %}
        <select class="from" name="choose" placeholder="به ترتیب" style="width:100px;">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
        <input type="date" name="startDate" id="id_startDate" class="from" style="width:200px;">
    <label for="id_finishDate">تا تاریخ</label>
        <input type="date" name="finishDate" id="id_finishDate" class="from" style="width:200px;">
    <input type="submit" class="btn"  value="نمایش">
</form>


    <div id="printableArea">
    <table>
        <tr>
            <th>مشاهده</th>
            <th>وضعیت</th>
            <th>قیمت</th>
            <th>تاریخ ثبت</th>
            <th>عنوان</th>
            <th>شماره</th>
        </tr>
        {% for ad in advertises %}
            <tr>
                <td><a href="{% url 'view_ad_raw' ad.pk %}" ><img src="../../../static/images/view.png" title="مشاهده" class="linkImg1"></a></td>
                <td>{{ ad.status }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.published_date|date:"Y / m / d" }}</td>
                <td>{{ ad.title }}</td>

            </tr>
        {% endfor %}




    </table>
    </div>


    <a href="javascript:void(0)" onclick="printDiv('printableArea')" class="btn"><img
            src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" onclick="save('reservesCheck.html', 'printableArea')" class="btn"><img
            src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>
{% endblock %}