<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load i18n %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/sidebar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/main/main.css" %}">
    <script>var type = "{{ type }}"</script>
    <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
    <style>
        @font-face {
            font-family: 'brandon';
            src: url("{% static "fonts/BRoya.ttf"%}") format('truetype');
            font-style: normal;
            font-weight: normal;
        }

        body {
            margin: 0;
        }

        .container {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #footer {
            font-family: brandon;
            text-align: center;
            width: 100%;
            position: absolute;
            height: 150px;
            background-color: #00293E;
            color: white;
            margin-top: 50px;
        }

        .foot {
            font-size: 16px;
        }

        .text-danger {
            color: red;
            direction: rtl;

        }

        input, select {
            width: 250px;
            height: 35px;
            border-radius: 3px;
            font-family: brandon;
            font-size: 18px;
            text-align: right;
        }

        #id_text {
            font-family: brandon;
            font-size: 18px;
            text-align: right;
            width: 400px;
            height: 150px;
        }

        .address {
            width: 250px;
            position: absolute;
            top: 6%;
            right: 2%;
            font-size: 18px;
            font-family: brandon;
            color: white;
            text-align: right;
        }

        .logo {
            position: absolute;
            top: 20%;
            left: 5%;
            max-width: 100px;
        }

        .highlighted {
            background-color: rgba(0, 0, 0, .4);
            text-align: center;
        }


    </style>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

    <script type="text/javascript">{% block script %}{% endblock %}</script>
</head>

<body>

<header class="navbar-fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand" style="color: white">سامانه‌ی در</a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'login' %}" style="color: white">ورود</a></li>
                    <li><a href="{% url 'register' %}" style="color: white">ثبت نام</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}" style="color: white">تماس با ما</a></li>
                    <li><a href="{% url 'home' %}" style="color: white">راهنما</a></li>
                    <li><a href="{% url 'home' %}" style="color: white">معرفی برنامه</a></li>
                    <li><a href="{% url 'all_ads' %}" style="color: white">مشاهده آگهی‌ها</a></li>
                    <li><a href="{% url 'home' %}" style="color: white">صفحه اصلی</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>


{% block content %}
{% endblock %}
<!--<div class="alert alert-success col-md-12" role="alert" id="success_message">پیام با موفقیت ارسال شد. <i class="glyphicon glyphicon-thumbs-up"></i> متشکریم .</div>-->


</body>

<div id="footer" class="col-xs-12">
    <div class="address">
        <p>نشانی: تهران، خیابان آزادی، دانشگاه شریف، دانشکده مهندسی کامپیوتر</p>
        <p>تلفن تماس: 02166161234</p>
    </div>

    <p class="footer-block">طراحی و اجرا: شرکت نرم افزاری آسا</p>
    <p class="foot">کلیه حقوق محفوظ و متعلق به آسا می باشد</p>
    <div><img class="logo" src="../../../static/images/LOGO.png"></div>
</div>
</html>

