<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load i18n %}
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/main/main.css" %}">
        <script>var type = "{{ type }}"</script>
        <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js"%}"></script>
        <style>
            /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
        </style>

    </head>

    <body>

<header class="navbar-fixed">
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" style="color: white">سامانه‌ی در</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav" >
                <li><a href="{% url 'login' %}" style="color: white">ورود</a></li>
                <li><a href="{% url 'register' %}" style="color: white" >ثبت نام</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#contact" style="color: white">تماس با ما</a></li>
                <li><a href="#manual" style="color: white">راهنما</a></li>
                <li><a href="#about-app" style="color: white">معرفی برنامه</a></li>
                <li><a href="{% url 'all_ads' %}"  style="color: white">مشاهده آگهی‌ها</a></li>
                <li><a href="#"  style="color: white">صفحه اصلی</a></li>
            </ul>
        </div>
    </div>
</nav>

</header>




<div class="container-fluid">
    <div class="row">
        <section class="hero col-12-md">
            <div class="inner">
                <div class="copy">
                    <img src="../../static/images/LOGO.png">
                    <h1>در</h1>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="content ">
            <div class="myHead col-md-6 col-xs-12">
            <h2>
                در چه امکاناتی در اختیار شما می‌گذارد؟
            </h2>
            <p>
                در از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند در توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در  تمامی مراجع قانونی ثبت شده است.در در به آسانی می‌توانید نیازمندی‌هایتان را بر اساس محله دسته‌بندی کنید و نزدیک‌ترین‌ها را بیابید. در در کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما در هیچ دخالتی ندارد و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند.
            </p>
                </div>
        </section>
    </div>
    <div class="row">
        <section class="content" style="background-color: #F9F5F5">
            <div class="inner">
                <div class="copy row" id="about-app">
                    <!--h1>معرفی برنامه</h1-->
                    <div class="column col-xs-6 col-sm-3 col-md-3">
                        <img src="../../static/images/sellbuy.png" height="150" width="150"/>
                        <h3>خرید و فروش کالاهای دست‌دوم</h3>
                    </div>
                    <div class="column col-xs-6 col-sm-3 col-md-3">
                        <img src="../../static/images/search.png" height="150" width="150"/>
                        <h3>جست‌وجو میان آگهی‌ها</h3>
                    </div>
                    <div class="column col-xs-6 col-sm-3 col-md-3">
                        <img src="../../static/images/location.png" height="150" width="150"/>
                        <h3>جست‌وجو براساس موقعیت مکانی</h3>
                    </div>
                    <div class="column col-xs-6 col-sm-3 col-md-3">
                        <img src="../../static/images/auction.png" height="150" width="150"/>
                        <h3>امکان برگزاری مزایده</h3>
                    </div>
                </div>
            </div>
        </section>
        </div>
    <div class="row">
        <section class="content" >
            <div class="inner">
                <div class="copy row manual" id="manual" style="margin:0;direction: rtl">
                    <div class="img col-xs-12 col-md-6">
                        <img src="{% static 'images/1.jpg' %}" >
                    </div>
                    <div class="discreption col-xs-12 col-md-6">
                        <h3> سامانه فروش کالای دست دوم</h3>
                        <div style="font-size: 130px; color: darkred">
                            در
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
    <div class="row">
        <section class="content" >
            <div class="inner" style="background-color: #F9F5F5">
                <div class="copy row manual" id="manual" style="margin:0;direction: rtl">
                    <div class="discreption col-xs-12 col-md-6">
                        <h3>تبلیغ در سایت</h3>
                        <p>
                        با استفاده از سامانه در، می‌توانید به راحتی و در کمترین زمان ممکن کالای دست دوم خود را به فروش بگذارید. همچنین شما این قابلیت را خواهید داشت که کالای خود را در مزایده قرار دهید تا در سریع‌ترین زمان و با بیشترین قیمت کالای خود را به فروش برسانید.
                        </p>
                    </div>
                    <div class="img col-xs-12 col-md-6">
                        <img src="{% static 'images/2.jpg' %}" >
                    </div>
                </div>
            </div>
        </section>
</div>
    <div class="row">
        <section class="content" >
            <div class="inner">
                <div class="copy row manual" id="manual" style="margin:0;direction: rtl">
                    <div class="img col-xs-12 col-md-6">
                        <img src="{% static 'images/3.jpg' %}" >
                    </div>
                    <div class="discreption col-xs-12 col-md-6">
                        <h3>مزایده:</h3>
                        <p>
                            در سامانه در مزایده به ساده‌ترین شکل ممکن ایجاد می‌شود و خریداران می‌توانند قیمت پیشنهادی خود را برای هر کالا به راحتی ارائه دهند.
                        </p>
                    </div>
                </div>
            </div>
        </section>
</div>

    <div class="row">
        <section class="content" >
            <div class="inner" style="background-color: #F9F5F5">
                <div class="copy row manual" id="manual" style="margin:0;direction: rtl">

                    <div class="discreption col-xs-12 col-md-6">
                        <h3>جستجو کالای مورد نظر:</h3>
                        <p>
                            به راحتی درون سامانه در به گشت و گذار بپردازید و کالای مورد نظر خود را برای خرید پیدا کنید.
                        </p>
                    </div>
                    <div class="img col-xs-12 col-md-6">
                        <img src="{% static 'images/4.jpg' %}" >
                    </div>
                </div>
            </div>
        </section>
</div>

      <div class="row">
        <section class="content">
            <div class="inner">
                <div class="copy row contact" id="contact" style="margin:0;">
                    <form class="well form-horizontal col-xs-12 row " action="/send_feedback/" method="post"  id="contact_form" style="margin:0;">{% csrf_token %}
                        <fieldset class="col-xs-12 col-md-6" >
<div class="form-group">
  <div class="col-md-12 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="نام" class="form-control"  type="text">
    </div>
  </div>
</div>

<div class="form-group">
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="نام خانوادگی" class="form-control"  type="text">
    </div>
  </div>
</div>

       <div class="form-group">
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="آدرس ایمیل" class="form-control"  type="text">
    </div>
  </div>
</div>

<div class="form-group">
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="text" rows="5" placeholder="پیام خود را وارد کنید."></textarea>
  </div>
  </div>
</div>

<!--<div class="alert alert-success col-md-12" role="alert" id="success_message">پیام با موفقیت ارسال شد. <i class="glyphicon glyphicon-thumbs-up"></i> متشکریم .</div>-->

<div class="form-group">
  <div class="col-md-12">
      <button type="submit" class="form-control btn send">ارسال</button>
  </div>
</div>
</fieldset>
                    </form>
                </div>
            </div>
        </section>
        </div>
</div>

<!-- The Modal -->
<div id="myModal3" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close3">&times;</span>
      <h2 dir="rtl">کاربر گرامی</h2>
    </div>
    <div class="modal-body">
      <p dir="rtl" style="text-align: center; vertical-align: middle;" >{{ log }}</p>
    </div>
    <div class="modal-footer">
      <h3 style="text-align: center; vertical-align: middle;">با سپاس، مدیریت در</h3>
    </div>
  </div>

</div>

<!-- The Modal -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close2">&times;</span>
      <h2 dir="rtl">کاربر گرامی</h2>
    </div>
    <div class="modal-body">
      <p dir="rtl" style="text-align: center; vertical-align: middle;" >ثبت نام شما در وبسایت در با موفقیت تایید شد!</p>
      <p dir="rtl" style="text-align: center; vertical-align: middle;">شما اکنون می‌توانید وارد حساب کاربری خود شوید!</p>
    </div>
    <div class="modal-footer">
      <h3 style="text-align: center; vertical-align: middle;">با سپاس، مدیریت در</h3>
    </div>
  </div>

</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" dir="rtl">&times;</span>
      <h2 dir="rtl">کاربر گرامی</h2>
    </div>
    <div class="modal-body">
      <p dir="rtl" style="text-align: center; vertical-align: middle;" >از ثبت نام شما در وبسایت در متشکریم!</p>
      <p dir="rtl" style="text-align: center; vertical-align: middle;">لطفا برای تکمیل فرایند ثبت نام به ایمیل خود مراجعه کرده و وارد لینک تاییدیه شوید!</p>
    </div>
    <div class="modal-footer">
      <h3 style="text-align: center; vertical-align: middle;">با سپاس، مدیریت در</h3>
    </div>
  </div>

</div>


    <script>
// Get the modal
var modal = document.getElementById('myModal');
var modal2 = document.getElementById('myModal2');
var modal3 = document.getElementById('myModal3');
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close2")[0];
var span3 = document.getElementsByClassName("close3")[0];

c = {{ modalDisplay }}
if (c === 1) {modal.style.display = "block";}
if (c === 2) {modal2.style.display = "block";}
if (c === 3) {modal3.style.display = "block";}

// When the user clicks on <span> (x), close the modal
span3.onclick = function() {
  modal3.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal3) {
    modal3.style.display = "none";
  }
}

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
  modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

    </body>

  <div id="footer" class="col-xs-12">
      <div class="address">
          <p>نشانی: تهران، خیابان آزادی، دانشگاه شریف، دانشکده مهندسی کامپیوتر</p>
          <p>تلفن تماس: 02166161234</p>
    </div>

      <p class="footer-block">طراحی و اجرا: تیم شماره دو درس چابک</p>
      <p class="foot">کلیه حقوق محفوظ و متعلق به ما می باشد</p>
      <div><img class="logo" src="../../../static/images/LOGO.png"></div>
  </div>
</html>
