{% extends 'Base.html' %}

{% block title %}
    ثبت نام در سایت
{% endblock %}



{% block content %}
    {% load staticfiles %}
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">

                    {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    {% endif %}

                        <section id="signup">
                            <form class="well form-horizontal" style="direction: rtl;" action="" method="post"
                                  id="signup_form" enctype="multipart/form-data">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b>ثبت نام</b></h2></center>
                                    </legend>
                                    <br>

                                    <div class="form-group  {% if form.fname.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="fname" placeholder="نام" class="form-control"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.fname.errors and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.fname.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group  {% if form.lname.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                                <input name="lname" placeholder="نام خانوادگی"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.lname.errors and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.lname.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group  {% if form.username.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-asterisk"></i></span>
                                                <input name="username" placeholder="نام کاربری" class="form-control"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>

                                    {% if form.username.errors and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.username.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}

                                    <div class="form-group">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-bullhorn"></i></span>
                                                <input name="email" placeholder="ایمیل"
                                                       class="form-control" type="email">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group {% if phone_number_error and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <p class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-phone"></i></span>
                                                <input name="phone_number" placeholder="شماره موبایل"
                                                       class="form-control" type="tel" required
           pattern="[0-9]{11}">
                                            <br><p style="color:#828282;">فرمت ورودی : 09123456789 </p>
                                            </div>
                                        </div>


                                    {% if phone_number_error and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {{ phone_number_error }}
                                        </span>
                                    {% endif %}



                                <div class="form-group  {% if form.location.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-road"></i></span>
                                                <input id="location_address" name="location_address" placeholder="آدرس"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group {% if nationalID_error and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-ok"></i></span>
                                                <input name="nationalID" placeholder="کد ملی"
                                                       class="form-control" type="tel" required
           pattern="[0-9]{10}">
                                            </div>
                                            <br><p style="color:#828282;">کد ملی بایستی ۱۰ رقمی باشد.</p>
                                        </div>
                                    </div>
                                    {% if nationalID_error and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {{ nationalID_error }}
                                        </span>
                                    {% endif %}



                                    <div class="form-group  {% if form.password.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-lock"></i></span>
                                                <input name="password" placeholder="رمز" class="form-control"
                                                       type="password">
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.password.errors and type == 'signup' %}
                                        <span class="text-danger" style="text-align:center;">
                                            {% for error in form.password.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}
                                    <div class="form-group {% if form.re_typed_password.errors and type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-lock"></i></span>
                                                <input name="re_typed_password" placeholder="رمز را دوباره وارد کنید."
                                                       class="form-control"
                                                       type="password">
                                            </div>
                                        </div>
                                    </div>

                                {% if form.re_typed_password.errors and type == 'signup' %}
                                        <span class="text-danger">
                                            <p>{% for error in form.re_typed_password.errors %}{{ error }}{% endfor %}</p>
                                        </span>
                                    {% endif %}

                                    <div class="form-group {% if type == 'signup' %}has-error{% endif %}">
                                        <div class="col-md-12 inputGroupContainer">
                                            <p class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-star"></i></span>
                                                <input name="code" placeholder="کد معرف"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>



                                 <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register" id="register"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="ثبت نام"
                                                       placeholder="ثبت نام">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content2 %}
    <!--The div element for the map -->
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: {{ lat }}, lng: {{ lng }}};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map, draggable: true});
            document.getElementById('lnglat').innerHTML = {{ lat }} +':' + {{ lng }};

            google.maps.event.addListener(marker, 'dragend', function (evt) {
                document.getElementById('lnglat').innerHTML = evt.latLng.lat() + ':' + evt.latLng.lng();
            });

        }

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo2SX0XE2l1jo6DMcpAvCyNH-91ocNT5E&callback=initMap">
    </script>

{% endblock %}