{% extends 'base2.html' %}

{% block title %}
{% endblock %}




{% block content %}
<div id="page-content-wrapper" class="offset8">


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="pull-right" style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right; width: 87%;">

                        <div class="w3-content w3-display-container" style="width: 100%; display:table-cell; vertical-align:middle; text-align:center; left: 130%;">
                                    {% for im in images %}
                                    <img class="mySlides" src="{{ im.image.url }}" style="width:300px">
                                    {% endfor %}

                                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>


                        <table class="table table-striped" style="align-content: right; direction: ltr; text-align: right; font-family: 'B Nazanin'; font-size: 20px; ">
                            <tbody>
                                <tr>
                                    <td>{{ advertise.title }}</td>
                                    <td style="font-weight: bold;">عنوان</td>
                                </tr>

                                <tr>
                                    <td>{{ advertise.desc }}</td>
                                    <td style="font-weight: bold;">توضیحات</td>
                                </tr>
                                <tr>
                                    <td>{{ advertise.published_date|date:"Y / m / d" }}</td>
                                    <td style="font-weight: bold;">تاریخ انتشار</td>
                                </tr>

                                <tr>
                                    <td>{{ advertise.price }}</td>
                                    <td style="font-weight: bold;">قیمت</td>
                                </tr>

                                <tr>
                                    <td>{{ advertise.status}}</td>
                                    <td style="font-weight: bold;">وضعیت</td>
                                </tr>

                                <tr>
                                    <td>{{ advertise.seller.profile.user.username }}</td>
                                    <td style="font-weight: bold;">فروشنده</td>
                                </tr>

                                <tr>
                                    <td>{{ advertise.address}}</td>
                                    <td style="font-weight: bold;">آدرس</td>
                                </tr>

                                <tr>
                                    <td><div id="map" style="clear:both; height:300px;"></div></td>
                                    <td style="font-weight: bold;">موقعیت مکانی</td>
                                </tr>


                                <tr>
                                    <td>{{ advertise.category.name }}</td>
                                    <td style="font-weight: bold;">دسته بندی</td>
                                </tr>



                            </tbody>
                        </table>





                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main">
    <h5>نظرات ثبت شده برای این کالا</h5>
                    <div id="printableArea">
    <table>
        <tr>
            <th>نظر</th>
            <th>تاریخ</th>
            <th>نویسنده</th>
        </tr>
        {% for cm in comments %}
            <tr>
                <td>{{ cm.desc }}</td>
                <td>{{ cm.time|date:"Y / m / d" }}</td>
                <td>{{ cm.sender.profile.user.username }}</td>
            </tr>
        {% endfor %}




    </table>
    </div>
</div>

    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" dir="rtl">&times;</span>
      <h2 dir="rtl">کاربر گرامی</h2>
    </div>
    <div class="modal-body">
      <p dir="rtl" style="text-align: center; vertical-align: middle;" >{{ log }}</p>
    </div>
    <div class="modal-footer">
      <h3 style="text-align: center; vertical-align: middle;">با سپاس، مدیریت در</h3>
    </div>
  </div>

</div>


     <!--The div element for the map -->
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: {{ lat }}, lng: {{ lng }}};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});

}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo2SX0XE2l1jo6DMcpAvCyNH-91ocNT5E&callback=initMap">
    </script>

    <script>
// Get the modal
var modal = document.getElementById('myModal');
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

c = {{ modalDisplay }}
if (c === 1) {modal.style.display = "block";}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock %}