@font-face {
  font-family: 'brandon';
  src:  url('../fonts/BRoya.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

.img-circle {
    border-radius: 50%;
    max-width: 100px;
    border: solid white 2px;
    margin: 0;
}

.cover {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: brandon;
    text-align: left;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.topleft a{
    display: inline-block;
    color: white;
    padding: 0px;
    text-decoration: none;
}

.topleft a:hover{
    color:#F2E2B2;
}

.topright {
    position: absolute;
    top: 12%;
    right: 5%;
    font-size: 22px;
    font-family: brandon;
    color: white;
    font-weight: bold;
    margin: auto;
}

.topright p{
    padding: 0;
}

.center {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: brandon;
    color: white;
    color: black;
}

.menu {
    text-align : right;
    font-family: brandon;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00293E;
}

li {
    float: right;
}

.notDropdown{
   float: right;
   display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #F62A00;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: #00293E;
    background-color: #F1F3CE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #00293E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #F2E2B2}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
   padding: 5%;
    padding-top: 1%;
   padding-bottom: 10%;
   margin: 5%;
   border: solid 2px;
   border-color: gray;
   font-family: brandon;
   text-align: right;
}

.main a {
  display: inline-block;
    color: #F62A00;
    padding: 0px;
    text-decoration: none;
}
.main a:hover{
color: gray
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    border: solid 2px;
    border-color: #F3F2F1;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #1E656D;
    color: white;
}

.linkImg1{
  width: 50px;
}

.linkImg2{
  width: 55px;
}

.btn{
    float: left;
    margin: 35px;
}

.from{
    margin: 10px;
}

.btn[type=button]{
  background-color:#F62A00;
   border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 35px;
}

.btn[type=submit] {
    background-color: #ACA9A8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 35px;
    height: 50px;
    width: 100px;
}

.btn[type=submit2] {
    background-color: #ACA9A8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 35px;
    height: 50px;
    width: 120px;
}
.btn{
    color: white;
    font-family: brandon;
}

.main h5 {
font-size: 24px;
}

html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
}


