{% extends 'costumerBase.html' %}

{% block title %}
    افزایش اعتبار
{% endblock %}



{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <center dir="rtl" style="background-color: white; margin-top: 3%; padding: 2%; border-radius: 10px;">
                        <div style="font-size: x-large">
                            {{ trans_log }}
                        </div>
                    </center>
                    {% if trans_pk %}
                        <center dir="rtl" style="background-color: white; margin-top: 3%; padding: 2%; border-radius: 10px;">
                        برای پرداخت موفق روی لینک زیر کلیک کنید
                        </center>
                        <center>
                            <a style="font-size: x-large; color: forestgreen" href=" http://{{ domain }}{% url 'transaction_result' trans_id=trans_pk result="done" %}">
                                http://{{ domain }}{% url 'transaction_result' trans_id=trans_pk result="done" %}
                            </a>
                        </center>

                        <center dir="rtl" style="background-color: white; margin-top: 3%; padding: 2%; border-radius: 10px;">
                        برای پرداخت ناموفق روی لینک زیر کلیک کنید
                        </center>
                        <center>
                            <a style="font-size: x-large; color: #850032" href=" http://{{ domain }}{% url 'transaction_result' trans_id=trans_pk result="done" %}">
                                http://{{ domain }}{% url 'transaction_result' trans_id=trans_pk result="failed" %}
                            </a>
                        </center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}