{#{% extends 'Base.html' %}#}
{##}
{#{% block content %}#}
{#  <h3>Forgot password</h3>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Submit</button>#}
{#  </form>#}
{#{% endblock %}#}


{% extends 'Base.html' %}

{% block content %}
    <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="forget_password">

                            <form class="well form-horizontal" style="direction: rtl;" action="" method="post"
                                  id="email_form">{% csrf_token %}
                            <fieldset>
                            <legend>
                                        <center><h2><b>بازیابی رمز عبور</b></h2></center>
                                    </legend>
                                    <br>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                            <input name="email" placeholder="آدرس ایمیل" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="submit" id="register-submit"
                                                   tabindex="4" class="form-control btn btn-register"
                                                   value="ارسال ایمیل"
                                                   placeholder="ارسال ایمیل">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
