{% extends 'Base.html' %}

{% block content %}
  <p class="center" style="font-size: x-large">
 رمز عبور شما با موفقیت تغییر یافت. لطفا <a href="{% url 'login' %}">مجدد</a> وارد سیستم شوید
  </p>
{% endblock %}