{#{% extends 'Base.html' %}#}
{##}
{#{% block content %}#}
{#  {% if validlink %}#}
{#    <h3>تغییر رمز عبور</h3>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <button type="submit">تغییر رمز عبور</button>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>#}
{#      لینک نامعتبر می‌باشد. ممکن است این لینک قبلا استفاده شده باشد. لطفا مجدد درخواست تغییر رمز فرمایید.#}
{#    </p>#}
{#  {% endif %}#}
{#{% endblock %}#}


{% extends 'Base.html' %}

{% block content %}
    {% if validlink %}
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="reset_password">

                            <form class="well form-horizontal" style="direction: rtl;" action="" method="post"
                                  id="email_form">{% csrf_token %}
                                <fieldset>
                                    <legend>
                                        <center><h2><b>بازیابی رمز عبور</b></h2></center>
                                    </legend>
                                    <br>
                                    <div class="col-md-12" align="right">
                                        رمز عبور شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.
                                    </div>
                                    <div class="col-md-12" align="right">رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</div>
                                    <div class="col-md-12" align="right">رمز شما نمی تواند از عبارات معروف باشد.</div>
                                    <div class="col-md-12" align="right">رمز شما نمی تواند کلا عدد باشد</div>
                                    <br>

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                            <input type="password" name="new_password1" required id="id_new_password1"
                                                   placeholder="گذرواژه جدید را تایپ فرمایید" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-user"></i></span>
                                            <input type="password" name="new_password2" required id="id_new_password2"
                                                   placeholder="گذرواژه جدید را مجدد تایپ فرمایید" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="تایید"
                                                       placeholder="تایید">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>
            لینک نامعتبر می‌باشد. ممکن است این لینک قبلا استفاده شده باشد. لطفا مجدد درخواست تغییر رمز فرمایید.
        </p>
    {% endif %}
{% endblock %}